<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--<context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources.messages</param-value>
    </context-param>-->
    <filter>
        <filter-name>SessionTimeoutFilter</filter-name>
        <filter-class>filter.SessionTimeoutFilter</filter-class>
    </filter>
    <error-page>
        <location>/Error_page_KCVJS.html</location>
    </error-page>
    <filter-mapping>
        <filter-name>SessionTimeoutFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <context-param>
        <description>The relative path to product images</description>
        <param-name>productImagePath</param-name>
        <param-value>img/products/</param-value>
    </context-param>
    <context-param>
        <description>The relative path to category images</description>
        <param-name>categoryImagePath</param-name>
        <param-value>img/categories/</param-value>
    </context-param>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>/ekcvjsInfo.jsp</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/js.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/category.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/checkout.jsp</url-pattern>
            <url-pattern>/ostatni.jsp</url-pattern>
            <url-pattern>/dvpp.jsp</url-pattern>
            <url-pattern>/ekcvjs.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/confirmation.jsp</url-pattern>
            <url-pattern>/dvppvpk.jsp</url-pattern>
            <url-pattern>/ucitele.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>JSP konfigurace pro osobni nastaveni</description>
            <url-pattern>/admin/login.jsp</url-pattern>
            <url-pattern>/admin/error.jsp</url-pattern>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <security-constraint>
        <display-name>Ekcvjs</display-name>
        <web-resource-collection>
            <web-resource-name>Ekcvjs</web-resource-name>
            <description/>
            <url-pattern>/ekcvjs/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>loginUser</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>Anything</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>kopernik4DB</realm-name>
        <form-login-config>
            <form-login-page>/admin/login.jsp</form-login-page>
            <form-error-page>/admin/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>loginUser</role-name>
    </security-role>
</web-app>
